.main {
  .learn {
    .container {
      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        color: #000000;
        text-align: center;
        margin-bottom: 46px;
        margin-top: 100px;
      }
      .learn_row {
        display: flex;
        justify-content: space-between;
        column-gap: 33px;
        margin-bottom: 110px;
        .card {
          background: #ffffff;
          box-shadow: 0px 4px 8px rgba(203, 203, 203, 0.25);
          border-radius: 10px;
          img {
            margin-bottom: 24px;
          }
          .learn_desc {
            padding: 0px 20px;
            h3 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #000000;
              margin-bottom: 13px;
            }
            p {
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              color: #4f4f4f;
              margin-bottom: 28px;
            }
            .learn_desc_foot {
              display: flex;
              justify-content: space-between;
              margin-bottom: 24px;
              p {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 0.03em;
                color: #616161;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1169px) {
  .main {
    .learn {
      .container {
        text-align: center;
        max-width: 340px;
        padding: 0px 15px;
        h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 32px;
          color: #000000;
          text-align: center;
          margin-bottom: 46px;
          margin-top: 35px;
        }
        .learn_row {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 36px;
          column-gap: 33px;
          margin-bottom: 35px;
          .card {
            background: #ffffff;
            box-shadow: 0px 4px 8px rgba(203, 203, 203, 0.25);
            border-radius: 10px;
            max-width: 400px;
            img {
              margin-bottom: 24px;
            }
            .learn_desc {
              padding: 0px 20px;
              h3 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 13px;
              }
              p {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #4f4f4f;
                margin-bottom: 28px;
              }
              .learn_desc_foot {
                display: flex;
                justify-content: space-between;
                margin-bottom: 24px;
                p {
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 12px;
                  letter-spacing: 0.03em;
                  color: #616161;
                }
              }
            }
          }
        }
      }
    }
  }
}
